:root {
    --gunmetal-dark: #202C39;
    --gunmetal: #283845;
    --pink: #EC368D;
    --green: #02C39A;
    --green-light: #9ef1df;
    --white: #FAF9F9;

}

html, body {
    height: 100%;
    background-color: var(--gunmetal-dark);
    line-height: 2;
}

html {
    display: table;
    margin: auto;
    color: var(--white);
}

body {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
}

h1, p {
    color: var(--white);
}

a {
    color: var(--green)
}

a:hover {
    color: var(--green-light)
}

.content {
    height: auto;
    background-color: var(--gunmetal);
    padding: 20px;
}

input {
    border: none;
    border-radius: 0;
    background-color: var(--gunmetal-dark);
    color: var(--white);
}

input[type="password"], input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    padding: 3px 12px;
    background: var(--pink);
}