:root {
    --gunmetal-dark: #202C39;
    --gunmetal: #283845;
    --pink: #EC368D;
    --green: #02C39A;
    --green-light: #9ef1df;
    --white: #faf9f9;
    --gray: #a7a7a7;

}

body {
    background-color: var(--gunmetal-dark);
}

h1, h2, h3, p {
    color: var(--white);
}

small {
    color: var(--gray)
}

a {
    color: var(--green);
}

a:hover {
    color: var(--green-light);
}

input {
    border: none;
    border-radius: 0;
    background-color: var(--gunmetal-dark);
    color: var(--white);
    padding: 3px 12px;
}

input[type="password"], input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    background: var(--pink);
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: 2px solid var(--pink);
}

.custom-btn-1, .custom-btn-1:hover {
    color: var(--white);
    padding: 3px 12px;
    background-color: var(--pink);
    border-radius: 0;
    border: none;
}

textarea {
    margin-top: 5px;
    border: none;
}

textarea:focus {
    border: solid 1px;
    border-color: var(--pink);
}