#tabs {
    background-color: var(--gunmetal);
    margin: 15px;
}

#tabs ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

#tabs li {
    float: left;
}

#tabs a {
    width: 100%;
    padding: 8px 15px;
    display: block;
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
}

.tab-content {
    padding: 10px;
}

#console {
    background-color: #000;
    height: 500px;
    max-height: 500px;
}
p#output{
    height:75vh;
    overflow-y: scroll;
}