#tabs {
    background-color: var(--gunmetal);
}

#tabs ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}

#tabs li {
    float: left;
}

#tabs a {
    width: 100%;
    padding: 8px 15px;
    display: block;
    text-align: center;
    font-size: 14pt;
    text-decoration: none;
}

.tab-content {
    padding: 8px;
}