{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='img/dark-curve-background.jpg') }}" alt="a really cool dark background" class="background-image">
<div class="content-box">
    <h1 class="title">Hyperbolic</h1>
    <h3><small class="subtitle">Automation for everyone</small></h3>
    <div class="select-btns mt-5">
        <a href="{{ url_for('dashboard') }}" class="btn select-btn">Dashboard</a>
        <a href="" class="btn select-btn">Docs</a>
    </div>
</div>
{% endblock %}