{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
<h1>Hyperbolic - Pentesting made easy</h1>
<a href="{{ url_for('login') }}">Login</a>
<p>This is the about page</p>
<p class="code-stuff"> ~$ dsfasdfdsfasfdsfasdfdsfasfd sfasdfd sfasfdsfasdfdsfasfdsfasdfdsfasfdsfasd fdsfasfdsfasdfdsfasfdsfasdfdsfa sfdsfas dfdsfasfdsfasdfdsfasfdsfasdfd sfasfdsfasdfdsfasfdsfasdf dsfasfd sfasdfd sfasfds fasdfdsfasfds fasdfdsfasf dsfasdfdsfas fdsfasdfdsfasfdsfasdf dsfasf dsfasdf dsfasfd sfasdfdsfasf dsfasdfdsfasfds fasdfds fasfd sfasdfdsfasfdsfasdf dsfasfd sfa sdfdsfasfdsfasdfdsfa sfdsf asdfdsfasfdsfasdfdsf asf dsfasdfdsfasfd sfasdf dsf asfdsfa sdfdsfa sfdsfasdfdsfasfdsfasdfdsfasfdsfa sdfds fasfdsfas dfdsfasfdsf asdfdsf asfdsfasdfdsfasfdsfasd fdsfasfdsfas dfdsfasfdsfasdfd sfa sfds fasdfdsfasfdsfasdfdsfasfdsfa sdfdsfasfdsfasdfds fasfdsfasdfdsfasfds fas dfds fasfdsfasdfdsfa sfdsfasdfd sfasfdsfasdfdsfasfdsfasdfds fasfdsfasdfdsfasfd sfas dfdsfa sfdsfas dfdsfasf dsfasdfdsfas fdsfasdf dsfas fdsfas dfdsfasf dsfasdf dsfas fdsfasd fdsfasf dsfasdfdsf asfdsfas dfdsfasfds fasdfdsfasfdsfasdfd sfas fdsfa sdfd sfasf dsfasdf dsfasfd sfasdfdsfasf</p>
{% endblock %}