{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div id="tabs">
        <ul>
            <li><a href="#tab-1">CTFd Login</a></li>
            <li><a href="#tab-2">Console</a></li>
            <li><a href="#tab-3">Reports</a></li>
        </ul>
        <div class="tab-content" id="tab-1">
            <p>Loading...</p>
        </div>
        <div class="tab-content" id="tab-2">
            <p>Loading...</p>
        </div>
        <div class="tab-content" id="tab-3">
            <p>Loading...</p>
        </div>
    </div>
</div>
{% endblock %}