{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul id="tab-select">
            <li><a href="#tab-1"><i class="bi bi-bag"></i></a></li>
            <li><a href="#tab-2"><i class="bi bi-upload"></i></a></li>
            <li><a href="#tab-3"><i class="bi bi-{% if logged %}un{% endif %}lock"></i></a></li>
            <li><a href="#tab-4"><i class="bi bi-sliders"></i></a></li>
            <li><a href="#tab-5"><i class="bi bi-book"></i></a></li>
        </ul>
        <div id="tab-1">
            <p>Store</p>
        </div>
        <div id="tab-2">
            <p>Custom script</p>
            <div id="python">
                <button onclick="addExecutor()">Add Your Own Executor</button>
            </div>
        </div>
        <div id="tab-3">
            {% if logged %}
            <form id="adminupload" id="upload" action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                {{ admin.csrf_token }}
                {{ admin.file.label }}
                {{ admin.file }}
                {{ admin.desc.label }}
                {{ admin.desc }}
                {{ admin.submit }}
            </form>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <h1 class="my-3">Login</h1>
            <form action="" method="post">
                {{ form.csrf_token }}

                <div class="form-group mb-1">
                    {{ form.user(placeholder=form.user.label.text) }}
                    {% if form.user.errors %}
                        {% for error in form.user.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    {{ form.password(placeholder=form.password.label.text) }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    {% endif %}
                </div>

                {{ form.submit }}
            </form>

            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('forgot_password') }}">Forgot password</a>
            {% endif %}
        </div>
        <div id="tab-4">
            <p>Settings</p>
            <p>Regex For The Flag</p>
            <input type="text" placeholder="Flag Regex" id="flagRe" value="flag\{\S*?\}">
            <p>Disable Detectors</p>
            <div id="disabled">
                {% for i in names %}
                <input name="{{ i }}" type="checkbox"><label for="{{ i }}">{{ i }}</label><br>
                {% endfor %}
            </div>
        </div>
        <div id="tab-5">
            <p>
                Documentation
                <br><br>
                Hyperbola is a framework for automating digital problem solving that comes with a variety of built in tools, from decompression to extracting image data. 
                Just type text or attach a file, click upload, and wait for the results. 
                <br><br>
                However, if you want more tools that aren't available, you can also make your own scripts; just head over to the Custom Script tab.
                First, add the type, which is what kind of data is passed in, like "text" or "filepath". Then, add the Python code inside. 
                The data passed in is called "data", and you can manipulate it however you want. 
                <br><br>
                When you're done, add return {"logs": [{"type": type, "msg": msg}], "newdata": [{"type": type, "data": data}], "end" = (True/False)}.
                Logs are information that is displayed to the user through the console, with type being either "text" or "image" and msg being the content. 
                You can put as many objects as you want in the list. Newdata is information to be passed to other solvers to use, again wih type and data. 
                It can also have as many objects as you want. Finally, end indicates whether or not you have found the flag so it can stop execution.
            </p>
        </div>
    </div>
    <div id="console">
        <p id="output" scrolling="auto"></p>
        <div id="entry">
            <form id="command">
                <input type="text" name="command">
            </form>
            <form id="upload" action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                {{ upload.csrf_token }}
                {{ upload.file.label }}
                {{ upload.file }}
                {{ upload.submit }}
            </form>
        </div>
    </div>
</div>
{% endblock %}