{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="#tab-1">Store</a></li>
            <li><a href="#tab-2">Custom script</a></li>
            <li><a href="#tab-3">Settings</a></li>
        </ul>
        <div class="tab-content" id="tab-1">
            <p>Store</p>
        </div>
        <div class="tab-content" id="tab-2">
            <p>Custom script</p>
            <div id="python">
                <button onclick="addExecutor()">Add Your Own Executor</button>
            </div>
        </div>
        <div class="tab-content" id="tab-3">
            <p>Settings</p>
        </div>
    </div>
    <div class="console">
        <form id="command">
            <input type='text' name="command">
        </form>
        <p id="output" scrolling="auto"></p>
        <form id="upload" action = "http://localhost:5000/uploader" method = "POST" 
            enctype = "multipart/form-data">
            {{ upload.csrf_token }}
            {{ upload.file }}
            {{ upload.submit }}
        </form>
    </div>
</div>
{% endblock %}