{% extends 'base.html' %}

{% block head %}
<style>
    ul {list-style-type: none;}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Problem Demos</h1>
    <ul>
        <li><a href="{{ url_for('demos_plaintext_search') }}" target="_blank">Plaintext Search</a></li>
        <li><a href="{{ url_for('demos_decompress') }}" target="_blank">File Recursive Decompress</a></li>
        <li><a href="{{ url_for('demos_bitmap') }}" target="_blank">Rendering Bitmap Images</a></li>
        <li><a href="{{ url_for('demos_cookies') }}" target="_blank">Read Cookies</a></li>
        <li><a href="{{ url_for('demos_directories') }}" target="_blank">Webpage Directory Traversal</a></li>
    </ul>
</div>
{% endblock %}