<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Hyperbolic | Capturing flags made slightly less painful</title>
</head>
<body>
    <ul class="vert-nav">
        <li><button class="pageish-btn" id="analyze-btn" data-page-link="analyze-page">Analyze</button></li>
        <li><button class="pageish-btn" id="logs-btn" data-page-link="logs-page">Logs</button></li>
        <li><button class="pageish-btn" id="reports-btn" data-page-link="reports-page">Reports</button></li>
        <li><button class="pageish-btn" id="statistics-btn" data-page-link="statistics-page">Statistics</button></li>
        <li><button class="pageish-btn" id="settings-btn" data-page-link="settings-page">Settings</button></li>
    </ul>
    <div class="page-content">
        <div class="pageish" id="analyze-page">
            {% include 'analyze.html' %}
        </div>
        <div class="pageish" id="logs-page" style="display: none">
            {% include 'logs.html' %}
        </div>
        <div class="pageish" id="reports-page" style="display: none">
            {% include 'reports.html' %}
        </div>
        <div class="pageish" id="statistics-page" style="display: none">
            {% include 'statistics.html' %}
        </div>
        <div class="pageish" id="settings-page" style="display: none">
            {% include 'settings.html' %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>