<form action="" method="post">
    {{ form.csrf_token }}

    {{ form.user.label }}
    {% if form.user.errors %}
        {% for error in form.user.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% else %}
        {{ form.user }}
    {% endif %}

    {{ form.password.label }}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% else %}
        {{ form.password }}
    {% endif %}

    {{ form.submit }}
</form>

<a href="{{ url_for('register') }}">Register</a>
<a href="{{ url_for('forgot_password') }}">Forgot Password</a>